html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}
.container {
    font-family: 'Shadows Into Light Two';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2vw;
}
ul.website{
    list-style:none;
    font-size: 2vw;
}
ul.website li a {
    text-decoration: none;
    color:black;
}
ul.website li a:hover {
    border-bottom: .2vw solid #c6282d;
    color: black;
}
a:-webkit-any-link {
    text-decoration-line: none;
    color: #262626;
}
ul.icons {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-left: 1.9vw;
    margin-bottom: 1.5vw;
}
ul.icons > li {
    display: inline-block;  
}
ul.icons > li > a .fa-facebook-f{
    display: inline-block;
    font-size: 1.5vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #3b5998;;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.icons > li > a .fa-instagram{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color:#517fa4;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.icons > li > a .fa-twitter{
    display: inline-block;
    font-size: 1.5vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #1da1f2;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.icons > li > a .fa-snapchat-ghost{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #fffc00;
    color: #fff;
    margin: 0 3px 3px 0;
}
/* might use later*/
/* ul.icons > li > a:hover {
    text-decoration: none;
    background-color: #ee7c22;
} */
.stroke-transparent {
    -webkit-text-stroke: 1px black;
}
/*
 * Styles for the deck of cards
 */
.deck {
    width: 680px;
    min-height: 690px;
    background: linear-gradient(160deg, #262626 50%, #C62132 20%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 13px 16px 21px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4em;
}
.card {
    height: 12vw;
    width: 12vw;
    /* background: linear-gradient(160deg, pink 50%, cyan 50%); */
    background: #2e3d49;
    background-size: 0%;
    /* font-size: 0; */
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open {
    transform: rotateY(0);
    background: black;
    cursor: default;
}
.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .stars .hide {
    display: none;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.timer {
	display: inline-block;
	margin: .1vw;
    padding-left: 4vw;
    font-weight: bolder;
}
/*footer*/
footer {
    margin: 0;
    padding-top: 0;
    width: 100%;
    padding-bottom: 2vw;
}
p {
    text-align: center;
    font-size: 1vw;
}
ul.footer_icons {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: .5vw;
    text-align: center;
}
ul.footer_icons > li {
    display: inline-block;
}

ul.footer_icons > li > a .fa-facebook-f{
    display: inline-block;
    font-size: 1.5vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #3b5998;;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.footer_icons > li > a .fa-instagram{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color:#517fa4;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.footer_icons > li > a .fa-twitter{
    display: inline-block;
    font-size: 1.5vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #1da1f2;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.footer_icons > li > a .fa-snapchat-ghost{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #fffc00;
    color: #fff;
    margin: 0 3px 3px 0;
}
ul.footer_icons > li > a .fa-linkedin-in{
    display: inline-block;
    font-size: 1.6vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 36px;
    background-color: #0077B5;
    color: #fff;
    margin: 0 3px 3px 0;
}
